<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <h1 style="text-align: center" >Centralized Web Application</h1>

        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='/sensordata'">Sensordaten</button>
        <button onclick = "location.href='/rezepte'">Rezepte</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png" alt = "icon" ></button>
            <div class = "dropdownContent">
                <!--<button onclick = "location.href='/tools/converter'" >Einheiten Konvertierer</button>-->
               <button onclick = "location.href='/tools/finanzrechner'">Finanzrechner</button>
               <button onclick = "location.href='/tools/finnishconjugation'">Finnish Conjugation</button>
               <button onclick = "location.href='/tools/gamescalculator'">Spielerechner</button>
               <!--<button onclick = "location.href='/tools/passwordgenerator'">Passwort Generator</button>-->
              <button onclick = "location.href='/tools/counter'">Textanalyse</button>
              <button onclick = "location.href=('http://10.0.10.221:8080')">pdf Tools</button>
          </div>
      </div>
      <div class="dropdown">
          <button class = "dropdownHoverButton" id="mediaButton">Medien <img src = "/images/down_arrow.png" alt = "icon" ></button>
          <div class = "dropdownContent">
              <button onclick = "location.href='/media/overview'">Übersicht</button>
              <button onclick = "location.href='/bookseries'">Buchserien</button>
              <button onclick = "location.href='/books'">Bücher</button>
              <button onclick = "location.href='/games'">Spiele</button>
              <button onclick = "location.href='/movies'">Filme und Serien</button>
          </div>
      </div>
  </div>
  <br>
  <br>
  <h2 style="text-align:center">Passwort Generator</h2>
  <br>
</div>

<div class="container">
    <label for="length">Länge des Passworts:</label>
    <input type="number" id="length" name="length" value="20" min="1" max="100"><br><br>

    <label>Sonderzeichen:</label><br>
    <input type="checkbox" id="specialChar1" checked>&nbsp;!&nbsp;
    <input type="checkbox" id="specialChar2" checked>&nbsp;"&nbsp;
    <input type="checkbox" id="specialChar3" checked>&nbsp;§&nbsp;
    <input type="checkbox" id="specialChar4" checked>&nbsp;$&nbsp;
    <input type="checkbox" id="specialChar5" checked>&nbsp;%&nbsp;
    <input type="checkbox" id="specialChar6" checked>&nbsp;&amp;&nbsp;
    <input type="checkbox" id="specialChar7" checked>&nbsp;/&nbsp;
    <input type="checkbox" id="specialChar8" checked>&nbsp;(&nbsp;
    <input type="checkbox" id="specialChar9" checked>&nbsp;)&nbsp;
    <input type="checkbox" id="specialChar10" checked>&nbsp;=&nbsp;
    <input type="checkbox" id="specialChar11" checked>&nbsp;,&nbsp;
    <input type="checkbox" id="specialChar12" checked>&nbsp;;&nbsp;
    <input type="checkbox" id="specialChar13" checked>&nbsp;.&nbsp;<br><br>

    <label for="numbers">Zahlen enthalten:</label>
    <input type="checkbox" id="numbers" name="numbers" checked><br><br>

    <label for="uppercase">Großbuchstaben enthalten:</label>
    <input type="checkbox" id="uppercase" name="uppercase" checked><br><br>

    <label for="lowercase">Kleinbuchstaben enthalten:</label>
    <input type="checkbox" id="lowercase" name="lowercase" checked><br><br>

    <button onclick="generatePassword()">Passwort generieren</button>
    <h2>Generiertes Passwort:</h2>
    <p id="generatedPassword"></p>
</div>
</body>

<script src="/js/passwordgenerator.js"></script>
<link rel="stylesheet" href="/css/tools/passwordgenerator.css">
<link rel="stylesheet" href="/css/general.css">
</html>